/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/
:root {
    /* Accent color */
    --clr-accent-1: #D0A98F;  /* Light Nude Beige */
    --clr-accent-2: #AE8C6A;  /* Medium Nude Beige */
    
    /* Background shades */
    --clr-bg-1: #FDF8F3;  /* Light Nude Pink */
    --clr-bg-2: #F8F1E9;  /* Light Beige */
    --clr-bg-3: #E2D7CE;  /* Darker Beige */

    /* Darkest grey - used for headings */
    --clr-brown-1: #2C2926;  /* Dark Brown */
    --clr-brown-2: #634B34;  /* Medium Brown */

    /* Grey used for paragraphs */
    --clr-brown-3: #4E4743;  /* Light Brown */

    /* Beige */
    --clr-beige-1: #B5A795;  /* Light Nude Beige */
    --clr-beige-2: #8D8069;  /* Medium Nude Beige */

    --clr-white: #fff;  /* White */

    /* Font families */
    --ff-primary: 'Ubuntu', sans-serif;
    --ff-secondary: 'Lora', serif;

    /* Other variables */
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --border-btm: 1px #707070 solid;
}
/* Rest of your CSS styles */


/* 
=============
Global styles
=============
*/
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    background-color: var(--clr-bg-2);
    line-height: 1.5;
}

.header {
    padding: 2em 0 1em 0;
    text-align: center;
    margin-bottom: 3rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2) inset;
}

.footer {
    color: var(--clr-brown-1);
    margin-bottom: 0;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2) inset;
}

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: var(--clr-brown-1);
    margin-top: 0;
}

h1 {    
    font-size: 2rem;
    margin: 0;
}


a {
    text-decoration: none;
    color:  var(--clr-beige-1);
}

a:hover,
a:focus {
    color: var(--clr-beige-2);
}

img {
    max-width: 100%;
    display: block;
}

.image-full {
    max-height: 300px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    object-fit: cover;
    object-position: bottom;
    margin-bottom: 2rem;
}

ul {
    list-style: none;
}
strong {
    font-weight: 700;
}


/* =================
Global classes
================= */

.subtitle {
    font-weight: 700;
    color: var(--clr-brown-2);
    font-size: .8rem;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 
=============
Navigation 
=============
*/

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    color: var(--clr-brown-2);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: var(--clr-accent-2);
}

.current-page {
    border-bottom: 1px solid var(--clr-accent-1);
}

.current-page:hover {
    color: var(--clr-accent-1);
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }
}

/* 
===========
Articles
===========
*/
.article-title {
    font-size: 1.5rem;
}

.article-read-more,
.article-info {
    font-size: .875rem;
}

.article-read-more {
    color: var(--clr-accent-1);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.article-read-more:hover,
.article-read-more:focus {
    color: var(--clr-accent-2);
    text-decoration: underline;
}

.article-info {
    margin: 1.8rem 0;
}


/* 
===========
Article featured
===========
*/
.article-featured {
    border-bottom: var(--border-btm);
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}

/* 
===========
Article recent
===========
*/
.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

@media (min-width: 675px) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }
    .article-recent-main {
        width: 68%;
    }
    .article-recent-secondary {
        width: 30%;
    }
    .article-featured {
        display: flex;
        flex-direction: column;
    }
    .article-img {
        order: -2;
        min-height: 250px;
        object-fit: cover;
    }
    .article-info {
        order: -1;
    }
    .left-position {
        object-position: left;
    }
}
/* 
===========
Sidebar
===========
*/

.sidebar-content {
    border: 10px solid var(--clr-bg-3);
    background-color: var(--clr-bg-2);
    color: var(--clr-brown-1);
    margin-bottom: 2.5rem;
    padding: 1rem;
}

.about-img { 
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.sidebar-title {
    font-size: 1rem;
    font-family: var(--ff-primary), sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.sidebar-recent-post {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: var(--border-btm);
    margin-bottom: 1rem;
}

.sidebar-recent-post:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.sidebar-img {
    order: -1;
}

.recent-post-title {
    color: var(--clr-accent-1);
}


@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }
    .about-img { 
        max-height: 100px;
    }
    main {
        width: 70%;
    }
    aside {
        width: 25%;
        min-width: 180px;
        margin-left: 1rem;
    }
}

/* 
=========== 
Article page
=========== 
*/
.article-title {
    font-size: 2rem;
    color: var(--clr-brown-1);
    margin-top: 0;
}

.article-title span {
    color: var(--clr-accent-1);
}

.article-subheading {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--clr-brown-1);
    opacity: .9;
    margin-top: 1rem;
}

.article-subtitle {
    font-size: 1.5rem;
    color: var(--clr-brown-1);
    margin-top: 2rem;
}

.article-paragraph {
    font-size: 1.25rem;
    color: var(--clr-brown-3);
    margin-top: 1rem;
    line-height: 1.6;
}
.article-paragraph:not(:last-child) {
    margin-bottom: 1.5rem;
}

.signature {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--clr-accent-2);
}

.author {
    font-size: 1.2rem;
    color: var(--clr-accent-2);
    margin-top: 0.5rem;
}

@media (min-width: 450px) {
    .image-article {
    object-position: center;
    }
}